*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    height: 100%;
}
body{
    font-family: "Roboto Mono", "Roboto Mono", "Vazirmatn", monospace;
    background-color: #020024;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%); */
    padding-top: 200px;
}

.section {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-inline: auto;
    align-items: center;
    justify-content: center;
}
.title {
    font-size: 60px;
    color: #c69f68;
    width: 100%;
    max-width: 450px;
    /* max-width: max-content; */
    padding: 5px;
}
.btns {
    display: flex;
    gap: 100px;
}
.start, .stop, .reset {
    padding: 8px 16px;
    border: none;
    background-color: #141a22;
    color: #e89b30;
    font-size: 30px;
    border-radius: 10px;
    transition: all 0.4s linear;
}

.start:hover , .stop:hover, .reset:hover {
    cursor: pointer;
    /* background-color: #ccccb5; */
    color: #ccccb5;
    /* background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%); */

}
.start:disabled{
    opacity: 0.5;
}
.stop:disabled{
    opacity: 0.5;
}
.reset:disabled{
    opacity: 0.5;
}
/* .stop {
} */

